# Ignore everything
*

# But do not Ignore these files...
!.gitignore

!src
!src/**

!libs
!libs/**

!WebContent
!WebContent/**


!*.txt
!*.md
!*.jpg
!*.png


# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore
